.peer-link-peer-link {
  width: 100%;
  height: 5384px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(248, 245, 244, 1);
}
.peer-link-group1 {
  top: 0px;
  left: 0px;
  width: 788px;
  height: 148px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(22, 24, 74, 1);
}
.peer-link-image1 {
  top: 31px;
  left: 45px;
  width: 117px;
  height: 105px;
  position: absolute;
}
.peer-link-group3 {
  top: 58px;
  left: 542px;
  width: 185px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-group4 {
  top: 0px;
  left: 0px;
  width: 185px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-group5 {
  top: 0px;
  left: 0px;
  width: 185px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-ellines {
  top: 13px;
  left: 64px;
  width: 58px;
  height: 25px;
  position: absolute;
}
.peer-link-text {
  top: 272px;
  left: 45px;
  color: rgba(23, 25, 75, 1);
  width: 613px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-image2 {
  top: 537px;
  left: 68px;
  width: 615px;
  height: 307px;
  position: absolute;
}
.peer-link-group19 {
  top: 939px;
  left: -11px;
  width: 799px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.peer-link-iconparkleftc {
  top: 28px;
  left: 48.719512939453125px;
  width: 96.35636901855469px;
  height: 103px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peer-link-group {
  top: 8.583334922790527px;
  left: 8.029698371887207px;
  width: 80.29696655273438px;
  height: 85.83333587646484px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-vector {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 86px;
  position: absolute;
}
.peer-link-vector1 {
  top: 23.604162216186523px;
  left: 28.103939056396484px;
  width: 18px;
  height: 39px;
  position: absolute;
}
.peer-link-iconparkrightc {
  top: 27px;
  left: 653.9241333007812px;
  width: 94.19105529785156px;
  height: 103px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.peer-link-group1 {
  top: 8.583334922790527px;
  left: 7.8492560386657715px;
  width: 78.49253845214844px;
  height: 85.83332824707031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-vector2 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 86px;
  position: absolute;
}
.peer-link-vector3 {
  top: 23.604164123535156px;
  left: 33.35932922363281px;
  width: 18px;
  height: 39px;
  position: absolute;
}
.peer-link-image3 {
  top: 26px;
  left: 234.93630981445312px;
  width: 137px;
  height: 107px;
  position: absolute;
}
.peer-link-image4 {
  top: 0px;
  left: 460.12872314453125px;
  width: 139px;
  height: 128px;
  position: absolute;
}
.peer-link-group8 {
  top: 1165px;
  left: 83px;
  width: 644px;
  height: 210px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-text02 {
  color: rgba(23, 25, 75, 1);
  width: 644px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group6 {
  top: 1441px;
  left: 83px;
  width: 546px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text04 {
  top: 25px;
  left: 184px;
  color: rgba(255, 255, 255, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-rectangle5 {
  top: 1673px;
  left: 0px;
  width: 788px;
  height: 2189px;
  position: absolute;
}
.peer-link-group10 {
  top: 2883px;
  left: 87px;
  width: 507px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text06 {
  top: 81px;
  left: 56.553863525390625px;
  color: rgba(255, 255, 255, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group12 {
  top: 3362px;
  left: 89.6854248046875px;
  width: 504.3145751953125px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text08 {
  top: 152px;
  left: 81.91414642333984px;
  color: rgba(255, 255, 255, 1);
  width: 416px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group14 {
  top: 1812px;
  left: 87px;
  width: 1051px;
  height: 970px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-text10 {
  color: rgba(255, 255, 255, 1);
  width: 1051px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group13 {
  top: 107px;
  left: 0px;
  width: 524.9708251953125px;
  height: 863px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-group9 {
  top: 0px;
  left: 0px;
  width: 507.1079406738281px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text12 {
  top: 166px;
  left: 43.664859771728516px;
  color: rgba(255, 255, 255, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group11 {
  top: 479px;
  left: 0px;
  width: 524.9708251953125px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle7 {
  top: 0px;
  left: 0px;
  width: 507px;
  height: 384px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.peer-link-text17 {
  top: 125px;
  left: 16.87050437927246px;
  color: rgba(255, 255, 255, 1);
  width: 508px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group20 {
  top: 3893px;
  left: 12px;
  width: 776px;
  height: 352px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-group15 {
  top: 154px;
  left: 16.110727310180664px;
  width: 759.8892822265625px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle9 {
  top: 83px;
  left: 0px;
  width: 760px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text19 {
  top: 120px;
  left: 48.33218765258789px;
  color: rgba(128, 128, 128, 1);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text21 {
  color: rgba(0, 0, 0, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text23 {
  color: rgba(0, 0, 0, 1);
  width: 447px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group17 {
  top: 4612px;
  left: 28px;
  width: 760px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle91 {
  top: 83px;
  left: 0px;
  width: 760px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text25 {
  top: 112px;
  left: 48.3392219543457px;
  color: rgba(128, 128, 128, 1);
  width: 342px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text27 {
  color: rgba(0, 0, 0, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group18 {
  top: 4873px;
  left: 28px;
  width: 760px;
  height: 198px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.peer-link-rectangle92 {
  top: 83px;
  left: 0px;
  width: 760px;
  height: 115px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.peer-link-text29 {
  top: 112px;
  left: 32.22614669799805px;
  color: rgba(128, 128, 128, 1);
  width: 504px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-text31 {
  color: rgba(0, 0, 0, 1);
  width: 204px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inria Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.peer-link-group21 {
  top: 5120px;
  left: 474px;
  width: 302px;
  height: 86px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(49, 153, 254, 1);
}
.peer-link-text33 {
  top: 25px;
  left: 48px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.getting-started-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
